.navbar{
    position: fixed;
    top: 0;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navbar-logo .logo{
    margin-left: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo img{
    filter: invert(99%) sepia(6%) saturate(18%) hue-rotate(248deg) brightness(105%) contrast(100%);
}

.navbar-logo *{
    font-size: 2.4rem;
    color: white;
}

.navbar-links ul{
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 2.2rem;
}

.navbar a:hover{
    color: yellowgreen;
}

@media (max-width: 768px){
    .navbar-links ul{
        gap: 2rem;
    }
}

@media (max-width: 576px){
    .navbar-links{
        display: none;
    }

    .navbar-logo .logo{
        margin: auto;
    }

    .navbar{
        justify-content: center;
    }
}